@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户角色和权限</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <td>UserId</td>
                <td>用户名字</td>
                <td>用户密码</td>
                <td>角色名字</td>
                <td>权限名字</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var entity in Model)
                {
                    <tr>
                        <td>@entity.Id</td>
                        <td>@entity.UserName</td>
                        <td>@entity.Password</td>
                        <td>@entity.RoleName</td>
                        <td>@entity.ModuleName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>